.countdown-timer {
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .countdown-timer__title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .countdown-timer__value-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-timer__value {
    font-size: 6rem;
    margin: 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .countdown-timer__value span {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
  }
  